*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
   
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
    }
  
h2 {
  width: 299px;
  height: 20px;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 126px;
  margin-bottom: 26px;
}    

input {

  display: flex;
  width: 342px;
  padding: 13px 233px 30px 16px;
  align-items: center;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.25);
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.7;
  border: none;
  display: inline-block;

}

.input-entre {
  margin-right: 62px;

}

button {
   
  display: flex;
  width: 342px;
  height: 72px;
  padding: 10px 76px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #AEC346;
  box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5px; 
  margin-bottom: 24px;
  

}

button:hover {
   opacity: 0.9;
}

button:active {
   opacity: 0.8;
}